@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@600&display=swap");

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(content-poster),
::view-transition-new(content-poster) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-image-pair(content-poster) {
  isolation: none;
}

.nav {
  view-transition-name: main-header;
  contain: paint;
  z-index: 1000;
}

.content-poster {
  view-transition-name: content-poster;
  contain: paint;
}

.person-photo {
  view-transition-name: person-photo;
  contain: paint;
}

.thumbnail {
  contain: paint;
}

body {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
