---
const { title, images } = Astro.props;
import { Image } from "astro:assets";
---
{ images.length > 0 && (
<div class="movie-images">
  <div class="container mx-auto px-4 py-16">
    <h2 class="text-2xl md:text-4xl font-medium md:font-semibold">Cinemagraphs</h2>
    <div class="container mx-auto w-full overflow-hidden relative mt-8">
      <div class="w-full h-full absolute">
        <div
          class="w-1/6 h-full absolute z-50 left-0"
          style="background: linear-gradient(to right, #18212F 0%, rgba(255, 255, 255, 0) 100%);"
        >
        </div>
        <div
          class="w-1/12 h-full absolute z-50 right-0"
          style="background: linear-gradient(to left, #18212F 0%, rgba(255, 255, 255, 0) 100%);"
        >
        </div>
      </div>
      <div
        class="carousel-items flex items-center justify-center"
        style="width: fit-content; animation: carouselAnim 20s infinite alternate linear;"
      >
        {
          images.map((image: { file_path: any }) => (
            <div class="carousel-focus flex items-center flex-col relative rounded-lg mx-2 shadow-lg w-[300px] md:w-[450px]">
              <Image
                inferSize={true}
                src={image.file_path != null ? `https://image.tmdb.org/t/p/w500${image.file_path}`: `https://placehold.co/450x300?text=:(`}}
                loading="lazy"
                alt={title}
                class="hover:opacity-75 transition ease-in-out duration-150"
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (6 * 300px)));
    }
  }

  @media only screen and (max-width: 768px) {
    .container .carousel-items {
      animation: carouselAnim 60s infinite alternate linear;
    }
    @keyframes carouselAnim {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(calc(-100% + (5 * 300px)));
      }
    }
  }

  .carousel-focus:hover {
    transition: all 0.8s;
    transform: scale(1.1);
  }
</style>
)}