---
export const prerender = true;
import Logo from "./Logo.astro";
import Searchbar from "./Searchbar.astro";

const path = Astro.url.pathname;
const hideNavSearch = path.includes("/movie") || path.includes("/tv") || false;
---

<nav
  class="nav sticky top-0 z-30 bg-gradient-to-t from-[#020024] via-[#0b192c] to-[#16213e]"
>
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4 lg:px-0 py-4"
  >
    <div class="flex flex-row w-full">
      <div class="flex space-x-1 justify-between items-center w-full md:w-auto">
        <a href="/" class="flex items-center justify-center font-bold text-xl">
          <Logo />
          <span>watch</span>
          <span class="text-red-500">tower</span>
        </a>
        <!-- <button
        class="md:hidden text-white focus:outline-none"
        aria-expanded="false"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button> -->
      </div>
      <ul class="flex flex-row items-center w-auto mx-4">
        <li class="w-fit mx-2 md:mx-4 lg:ml-16">
          <a href="/movie" class="hover:text-gray-300">Movies</a>
        </li>
        <li class="md:hidden text-red-500">
          <p>|</p>
        </li>
        <li class="w-fit mx-2 md:mx-4 lg:ml-6">
          <a href="/tv" class="hover:text-gray-300">Shows</a>
        </li>
      </ul>
    </div>

    {hideNavSearch && <Searchbar />}
  </div>
</nav>
