---
const { currentPage, totalPages } = Astro.props;

const pageUrl = Astro.url;

const getPageUrl = (page: number | string) => {
  if (page !== 1) {
    pageUrl.searchParams.set("page", `${page}`);
  } else {
    pageUrl.searchParams.delete("page");
  }
  return pageUrl.toString();
};

const generatePageRange = (currentPage: number, totalPages: number) => {
  const pages = [];
  const delta = 1;

  if (totalPages <= 7) {
    for (let i = 1; i <= totalPages; i++) {
      pages.push(i);
    }
  } else {
    pages.push(1, 2);

    if (currentPage > 4) {
      pages.push("...");
    }
    const startPage = Math.max(3, currentPage - delta);
    const endPage = Math.min(totalPages - 2, currentPage + delta);

    for (let i = startPage; i <= endPage; i++) {
      pages.push(i);
    }

    if (currentPage < totalPages - 3) {
      pages.push("...");
    }

    pages.push(totalPages - 1, totalPages);
  }

  return pages;
};

const pageRange = generatePageRange(
  parseInt(currentPage),
  parseInt(totalPages)
);
---

<div class="flex items-center justify-center space-x-2 p-4 my-1">
  <a
    href={currentPage > 1 ? getPageUrl(parseInt(currentPage) - 1) : "#"}
    aria-disabled={currentPage === 1}
    class={`px-4 py-2 rounded text-white ${currentPage == 1 ? "opacity-50 cursor-not-allowed" : "hover:text-accent-light"}`}
  >
    <span class="text-3xl">&laquo;</span>
  </a>

  {
    pageRange.map((page) =>
      page === "..." ? (
        <span class="px-4 py-2 text-gray-600">...</span>
      ) : (
        <a
          href={getPageUrl(page)}
          class={`px-4 py-2 text-accent-dark ${currentPage == page ? "text-accent-light font-bold" : "hover:text-accent-light hover:font-semibold"}`}
        >
          {page}
        </a>
      )
    )
  }

  <a
    href={currentPage < totalPages
      ? getPageUrl(parseInt(currentPage) + 1)
      : "#"}
    aria-disabled={currentPage === totalPages}
    class={`px-4 py-2 rounded text-white ${currentPage == totalPages ? "opacity-50 cursor-not-allowed" : "hover:text-accent-light"}`}
  >
    <span class="text-3xl">&raquo</span>
  </a>
</div>
