---
export const prerender = true;
const param = Astro.url.searchParams.get("q");
---

<div
  class="flex rounded-sm shadow-cool-grey-400 shaow-xl overflow-hidden max-w-lg ml-auto font-[sans-serif]"
>
  <form class="flex flex-row">
    <input
      type="text"
      name="search"
      value={param}
      placeholder="Search"
      autocomplete="false"
      class="w-full outline-none bg-[#241f20] text-white text-sm px-4 py-3"
    />
    <div
      class="w-fit bg-red-600 float-left flex items-center justify-center transition-all duration-300 ease-in-out hover:bg-red-500"
    >
      <input
        value="Search"
        type="submit"
        class="mx-2 text-white uppercase text-[15px] text-center font-medium tracking-[2px] transition-all duration-300 ease-in-out hover:tracking-[2.5px]"
      />
    </div>
  </form>
</div>
<script>
  const form = document.querySelector("form");
  form?.addEventListener("submit", (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const searchQuery = formData.get("search")?.toString();
    if (!searchQuery || searchQuery?.length == 0) return;
    const url = new URL("/search", window.location.origin);
    url.searchParams.set("q", searchQuery);
    window.location.assign(url.toString());
  });
</script>
