---
import RecentListCard from "../../../components/RecentListCard.astro";

const pageValue = Astro.url.searchParams.get("page") || 1;

const getRecentList = await fetch(
  `${Astro.url.origin}/api/getrecent.json?page=${pageValue}`,
  {
    method: "GET",
  }
)
  .then(async (res) => {
    return await res.json();
  })
  .catch((err) => {
    console.log("logging err from recent", err.message);
    Astro.redirect("/404");
  });

const recentList = getRecentList?.items || [];
---

<div class="container mx-auto px-4 pt-16 mb-16">
  <div class="popular-movies">
    <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">
      Recent Additions
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8"
    >
      {
        recentList.map((recentItems: any) => (
          <RecentListCard data={recentItems} />
        ))
      }
    </div>
  </div>
</div>
