---
export const prerender = true;
import "../styles/styles.css";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { ViewTransitions } from "astro:transitions";
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="font-inter bg-primary text-white">
    <div class="h-screen overflow-hidden flex flex-col">
      <div id="container" class="h-full flex-auto overflow-y-auto">
        <Nav />
        <div id="content">
          <slot />
        </div>
        <Footer />
      </div>
    </div>
  </body>
</html>
